# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
      - id: pyupgrade
        args: [ --py312-plus ]

  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [ --profile, black ]
        exclude: "migrations/.*"

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.13.0'
    hooks:
      - id: mypy
        additional_dependencies: [
          types-redis==4.6.0.20240903,
          no_implicit_optional==1.4,
          types-requests==2.32.0.20240914
        ]
        args: [ --ignore-missing-imports, --show-error-codes, --pretty, --explicit-package-base ]
        exclude: "migrations/.*"

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: local
    hooks:
      - id: make-test
        name: Run test suite
        entry: make test
        language: system
        pass_filenames: false
        always_run: true
        stages: [ pre-commit ]
