version: '3.7'

services:
  db:
    image: postgres:14
    container_name: local_db
    env_file:
      - .env
    ports:
      - "5436:5432"
    volumes:
      - db_volume:/var/lib/postgresql/data
    networks:
      - backend

volumes:
  db_volume:

networks:
  backend:
    driver: bridge
