version: '3.7'

services:
  db:
    image: postgres:14
    container_name: local_db
    env_file:
      - .env
    ports:
      - "5436:5432"
    volumes:
      - db_volume:/var/lib/postgresql/data
    networks:
      - backend

  redis:
    image: redis:8
    container_name: local_redis
    env_file:
      - .env
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend

  minio:
    image: minio/minio:RELEASE.2025-03-12T18-04-18Z
    container_name: local_minio
    env_file:
      - .env
    ports:
      - "9002:9000"  # S3 API
      - "9001:9001"  # веб-консоль
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:3-management
    container_name: local_rabbitmq
    ports:
      - '5673:5672'     # AMQP port for Celery broker
      - '15673:15672'   # Management UI
    env_file:
      - .env
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: [ "CMD", "rabbitmqctl", "status" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - backend

volumes:
  db_volume:
  redis_data:
  minio-data:
  rabbitmq_data:

networks:
  backend:
    driver: bridge
