version: '3.7'

services:
  db:
    image: postgres:14
    container_name: local_db
    env_file:
      - .env
    ports:
      - "5436:5432"
    volumes:
      - db_volume:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d blog"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        STAGE: dev
    container_name: local_web
    entrypoint: []
    command: sh -c "python3 manage.py migrate && python3 manage.py runserver 0.0.0.0:8000"
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - RUN_MODE=local
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app
    depends_on:
      db:
        condition: service_healthy
    networks:
      - backend

volumes:
  db_volume:

networks:
  backend:
    driver: bridge
